*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // (62.5/100) * 16px = 10px
  -webkit-text-size-adjust: none;
  /* for iOS Safari */
  text-size-adjust: none;
  /* for other mobile browsers */
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3.0rem;
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}
